.orders  {
  margin-top: 40px;
}

.restaurant {
  margin-top: 0;
}
#new-btn, #archive-btn {
  width: 100px;
  padding-right: 17px !important;
}

@media only screen and (max-width: 550px) {
  #new-btn, #archive-btn {
      width: 328px;
      padding-right: 17px !important;
      margin: .5rem;
  }
}