.navbar .ui.menu.navbar {
  background-color: #42ebf4;
}

.homenav .ui.menu.homenav {
  background-color: #42ebf4;
}

.userNavbar .ui.menu.userNavbar {
  background-color: #42ebf4;
}

.unregistered .ui.menu.unregistered {
  background-color: #42ebf4;
}

