.ui.inverted.menu #home.active.item {
  color: #ff6e00 !important;
}

.ui.inverted.menu #register.active.item {
  color: #ff6e00 !important;
}

.ui.inverted.menu #login.active.item {
  color: #ff6e00 !important;
}

.ui.inverted.menu #profile.active.item {
  color: #ff6e00 !important;
}

.ui.inverted.menu #profiles.active.item {
  color: #ff6e00 !important;
}

.ui.inverted.menu #restaurants.active.item {
  color: #ff6e00 !important;
}

.ui.inverted.menu #order.active.item {
  color: #ff6e00 !important;
}

.ui.inverted.menu #logout.active.item {
  color: #ff6e00 !important;
}

